[Unit]
Description=Linux DNS client with privacy & blacklisting features

[Service]
User=swiftdns
ExecStart=/usr/bin/swiftdns start
Restart=on-failure
RestartSec=3s
StartLimitBurst=5
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
